* {
    margin: 0;
    padding: 0;}
body {
    background-color: rgb(231, 188, 145);
}
form#fom {
    margin: 60px;}
h2 {
    color: black;
    text-align: center;
    padding-top: 2.5cm;}
label {
    font-weight: bold;
    font-size: small;}
div.main {
    width: 300px;
    margin: 100px;}
div.head {
    background-color: white;
    width: 450%;
    font-size: 23px;
    border-radius: 15px;}
input#name {
 color: blue;
    font-size: 30px;}
input#box {
    font-size: 30px;
    width: 25cm;
    border-radius: 7px;}
.addf {
    font-size: 20px;
    border-radius: 7px;
}
.rem {
    font-size: 20px;
    border-radius: 7px;}